/* reset styloe */
*{
    padding: 0%;
    margin: 0%;
    font-family: "Open Sans", sans-serif;
}
img{
    max-width: 100%;
}
/* common btn style */
.common-btn{
    background-color: #FD6E0A;
    padding: 10px 20px;
    border-radius: 12px;
    font-weight: bold;
    font-size: 22px;
    color: white;
    border: none;
    cursor: pointer;
}
.outline-btn{
    background-color: white;
    padding: 10px 20px;
    border-radius: 12px;
    font-weight: bold;
    font-size: 22px;
    color: #FD6E0A;
    border: 1PX solid #FD6E0A;
    cursor: pointer;
}
.container{
    max-width: 1200px;
    margin: auto;
}
nav{
    
    display: flex;
    justify-content: space-between;
    padding:12px 0;
}
.logo{
     font-width: bold;
    font-weight: 32px;
}
.logo-r{
    color: #FD6E0A;
}
ul{
     display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 10px;
    align-items: center;
}
ul li a{
    text-decoration: none;
}
/* hero section style */
.hero-parent-root{
      background-color: rgb(228, 203, 174);
}
.hero-parent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
   
}
.hero-left-p-1{
     font-size: 28px;
     font-weight: 600;
     }
.hero-lift h2{
      font-weight: bold;
      font-size: 50px;
      margin-bottom: 12px;
}
.hero-left-btn-parent{
   margin-top: 12px;
}
/* about us css */
.about-parent{
     background-color: rgb(228, 203, 174);
     margin: 80px auto;
     border-radius: 10px;
     padding: 70px;
     text-align: center; 
}
.about-parent p{
    margin: 20px 0;
}
.about-box-parent{
    display: flex;
    justify-content: space-between;
    gap: 8px;
}
.about-box-parent .box{
     background-color: rgb(214, 183, 147);
     padding: 5px;
     border-radius: 5px;
}
.what-i-do-parent{
    margin: 60px auto;
    text-align: center;
    max-width: 1200px;
}
.what-id-do-card-container{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}
.what-id-do-card-container .what-i-do-card{
    border: 2px solid #FD6E0A;
    padding: 8px;
    border-radius: 8px;
    box-shadow: 5px 5px 15px blue;
    text-align: left;
}
.what-id-do-card-container .what-i-do-card h2{
    margin: 15px, 0;
}
.what-id-do-card-container .what-i-do-card p{
    color: rgb(218, 99, 99);
    font-size: 15px;
}
.my-amaging-parent{
    text-align: center;
}
.gallary{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
    grid-auto-rows: 250px;
    grid-template-areas: 
    "one two three"
    "four two six"
    "four five six";
}
.gallary img{
    height: 100%;
    width: 100%;
    object-fit: cover;
   }
  
.box-1{
    grid-area: one;
}
.box-2{
   grid-area: two;
}
.box-3{
    grid-area: three;
}
.box-4{
 grid-area: four;
}
.box-5{
   grid-area: five;
}
.box-6{
   grid-area: six;
}
/* footer style */
footer{
    text-align: center;
    margin-top: 80px !important;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    gap: 15px;
    background-color: rgb(228, 203, 174);
     padding: 10px; 
    
}

footer form{
     cursor: pointer;
}
.footer-left{
   margin:10px 0;
}

footer form input{
 border:none;
 outline: none;
 background-color: white;
 padding: 8px 15px;
 border-radius: 10px;
 display: block;
 width: 100%;
 margin-bottom: 8px;
  
}